@import '../../util/style-util/dim.scss';

.inner-page {
    transition: margin-left .5s;

    &.open {
        margin-left: $left-bar-max;
    }
    padding-top: $header-ht + $page-pad;
    padding-left: $page-pad;
    padding-right: $page-pad;
}