@import '../../util/style-util/colors.scss';
@import '../../util/style-util/dim.scss';
@import '../../util/style-util/common.scss';

.top-bar {
    position: fixed;
    min-width: auto;
	box-shadow: var(--bs-sm);
	width: 100%;
	background-color: $red;
	height: $header-ht;
	box-shadow: $shadow;
}