@import '../../util/style-util/colors.scss';
@import '../../util/style-util/dim.scss';
@import '../../util/style-util/common.scss';

.top-bar {
    position: fixed;
    min-width: auto;
    width: 100%;
    background-color: $primary;
    height: $header-ht;
    box-shadow: $shadow;
}

#main {
    padding: 16px;
}

.spn {
    font-size: 30px;
    cursor: pointer;
}